#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #fff;
    height: 48px;
    color: #000;
    border-radius: 4px;
    position: fixed;
    z-index: 99999;
    left: 20px;
    bottom: 20px;
    font-size: 13px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding-left: 12px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s, ;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

#snackbar .toast-close {
    font-size: 26px;
    position: absolute;
    right: 10px;
    bottom: 12px;
    cursor: pointer;
}

#snackbar .toast-icon {
    margin-right: 10px;
    font-size: 24px;
}