button {
    background-color: #019160;
    border: none;
    color: #fff;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    padding: 0px 24px 0px 24px;
}

button:hover {
    background-color: #e5e5e5;
    cursor: pointer;
    background-color: #2FBE8E;
}

.secondary-button {
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color:#fff;
    padding: 0px 24px;
    text-align: center;
}

.secondary-button:hover {
    background-color: #E9EBEE;
}